@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Arita-dotum-Medium';
}

/* 노말라이즈 */
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 노말라이즈  끝 */

.block {
    display: block;
}

.con {
    width: 1280px;
    margin: 0 auto;
}

img {
    vertical-align: top;
}

/* 배경이미지 작업 시작 */
.pages > .page {
    position: relative;
}

.pages > .page > .page-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.full-height {
    height: 100vh;
}

.banner-box-1 {
    margin-top: -35px;
    background-image: url(./img/index/bn_1_5.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 배경이미지 작업 끝 */

/* 헤더 시작 */
.header {
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    text-align: center;
}

.header::after {
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 0;
    display: inline-block;
    content: "";
    border-bottom: 1px solid #fff;
    border-color: rgba(255, 255, 255, .3);
}

.header > .logo {
    background-image: url("./img/index/logo_2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 112px;
    height: 40px;
    margin-top: 10px;
}

/* 왼쪽 메뉴 시작*/
.header .left-menu .menu-box-1 {
    cursor: pointer;
}

.header .left-menu > .menu-box-1 > .menu {
    top: 20px;
    left: 20px;
    position: absolute;
}

.header .left-menu .menu-box-1 > .menu > img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
}

.left-menu-box {
    position: relative;
    height: 100%;
}

.header .left-menu .left-menu-list {
    height: 100%;
    overflow-y: auto;
}

.header .left-menu .left-menu-open .close-btn {
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 25px;
    padding: 5px 10px;
}

/* 메뉴 오픈 시작 */
.header .left-menu .left-menu-open {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.header .left-menu .left-menu-open {
    opacity: 1;
    left: 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: -300px;
    transition: left 0.5s;
    width: 300px;
    z-index: 500;
    background-color: #fff;
}

.header .left-menu .left-menu-open.active {
    left: 0;
}

.header .left-menu-open > .left-menu-box > .intro-head {
    height: 60px;
    box-sizing: border-box;
    padding: 5px 30px 5px;
    border-bottom: 1px solid #aaa;
    text-align: left;
}

.header .left-menu-open > .left-menu-box > .intro-head > .logo {
    background-image: url("./img/index/logo_1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 112px;
    height: 40px;
    margin-top: 10px;
}

.header .left-menu-open > .left-menu-box .menu-list > li > a:not(:only-child)::after {
    background-image: url("./img/index/menu_ico_4.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    content: "";
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 33px;
    height: 14px;
    width: 14px;
    transform: rotate(180deg);
    transition: transform .2s;
}

.header .left-menu-open > .left-menu-box .menu-list > li.active > a:not(:only-child)::after {
    transform: rotate(0);
}

.header .left-menu-open > .left-menu-box .menu-list > li.active > ul {
    display: block;
}

.header .left-menu-open > .left-menu-box .menu-list > li > a:last-child::before {
    background-image: url("./img/index/menu_ico_5.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    content: "";
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 33px;
    height: 14px;
    width: 14px;
}


.header .left-menu-open > .left-menu-box .menu-list > li > a {
    border-top: 1px solid #fff;
    display: block;
    font-size: 18px;
    color: #121212;
    position: relative;
    padding: 18px 30px;
    text-align: left;
}

.header .left-menu-open > .left-menu-box ul ul {
    display: none;
}

.header .left-menu-open > .left-menu-box ul ul {
    overflow: hidden;
    border-top: 1px solid #ddd;
    background: #f1f1f1;
}

.header .left-menu-open > .left-menu-box ul ul > li > a {
    display: block;
    padding: 13px 35px;
    color: #626262;
    text-align: left;
}

.header .left-menu-open > .left-menu-box ul ul > li:hover > a {
    background-color: #00ACC2;
    color: #fff;
}

.header .left-menu-open > .left-menu-box .menu-list > li {
    position: relative;
    border-bottom: 1px solid #aaa;
}

.header .left-menu-open > .left-menu-box .left-menu-footer {
    padding-bottom: 25px;
    margin: 25px 0;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.header .left-menu-open > .left-menu-box .left-menu-footer {
    margin-left: -7px;
}

.header .left-menu-open > .left-menu-box .left-menu-footer > span,
.header .left-menu-open > .left-menu-box .left-menu-footer > a {
    margin-left: 5px;
    color: #626262;
}

.header .left-menu-open > .left-menu-box .left-menu-footer:first-child {
    margin-left: 0;
}

.header .left-menu-open > .left-menu-box .left-menu-footer-2 {
    margin-bottom: 35px;
    color: #626262;
}

.left-menu-footer-2 {
    text-align: center;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;

}

.header .left-menu-open > .left-menu-box .left-menu-footer-2 > a {
    padding-right: 5px;
    display: inline-block;
}

.header .left-menu-open > .left-menu-box .left-menu-footer-2 > a:first-child {
    margin-left: 0;
}

.header .left-menu-open > .left-menu-box .left-menu-footer-3 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

.header .left-menu-open > .left-menu-box .left-menu-footer-2 > a:not(:first-child)::before {
    display: inline-block;
    width: 1px;
    height: 9px;
    margin-top: -1px;
    margin-right: 10px;
    content: "";
    background-color: #e0e0e0;
}

.header .left-menu-open > .left-menu-box .left-menu-footer-3 a:not(:first-child)::before {
    display: inline-block;
    transform: translatey(-50%);
    right: 0;
    width: 1px;
    height: 9px;
    content: "";
    background-color: #e0e0e0;
    margin-right: 5px;
    margin-bottom: -5px;
}

.header .left-menu-open > .left-menu-box .left-menu-footer-3 a::before:first-child {
    background-color: red;
}

.header .left-menu-open > .left-menu-box .left-menu-footer-3 > span {
    display: inline-block;
    margin-bottom: 10px;
    color: #626262;
    width: 100%;
}

.header .left-menu-open > .left-menu-box .left-menu-footer-3 > span:last-child {
    margin-left: 0;
}

.header .left-menu-open > .left-menu-box .left-menu-footer-3 > span > a:first-child {
    margin-left: 0;
}

.header .left-menu-open > .left-menu-box .left-menu-footer-3 > span > a {
    display: inline-block;
    position: relative;
    ;
}

.header .left-menu-open > .left-menu-box .left-menu-footer-3 > span > b {
    font-weight: bold;
    color: #707070;
}

/* 메뉴 오픈 끝 */
/* 왼쪽 메뉴 끝*/

/* 오른쪽 메뉴 시작*/
.header .right-menu > .menu-box-1 {}

.header .right-menu > .menu-box-1 > .serch {
    position: absolute;
    top: 20px;
    right: 20px;
}

.header .right-menu .btn-menu > div {
    background-color: #fff;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
}

.header .right-menu .serch > img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
}

/* 오른쪽 메뉴 끝*/
/* 헤더 끝 */

/* 마지막페이지 작업 끝 */
.banner-box-1 > div {
    top: 50px;
    position: relative;
    text-align: center;
    color: #fff;
    font-family: 'Arita-dotum-Medium';
}

.banner-box-1 > div > h2 {
    color: #fff;
    margin-bottom: 15px;
    font-family: 'Arita-buri-SemiBold';
    font-size: 42px;
}

.banner-box-1 a::after {
    content: ">";
    speak: none;
    display: inline-block;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    line-height: 30px;
    color: #fff;
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, .5);
    transform: scale(.7);
    border-radius: 30px;
    background-clip: padding-box;
}

/* 마지막페이지 작업 끝 */

/* 메인 텍스트 시작 */
.pages .main-cont {
    padding: 55px 0 55px;
    vertical-align: middle;
    top: 200px;
    position: relative;
    margin: 0 auto;
}

.pages .main-cont > .main-cont-1 {
    text-align: left;
    width: 50%;
    margin-left: 50%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.pages .main-cont > .main-cont-1 > .item-cont {
    margin-bottom: 50px;
}

.pages .main-cont > .main-cont-1 > .item-cont > .head1 {
    font-size: 54px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    font-family: 'Arita-buri-SemiBold';
    letter-spacing: -.05em;
}

.pages .main-cont > .main-cont-1 > .item-cont > .head2 {
    font-size: 27px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    font-family: 'Arita-buri-SemiBold';
    letter-spacing: -.05em;
}

.pages .main-cont > .main-cont-1 > .item-more > a {
    padding: 14px 40px;
    margin: 5px 0;
    padding: 14px 28px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: -.03em;
    border: 1px solid #626262;
    border-radius: 50px;
    background-clip: padding-box;
    color: #fff;
    border-color: #fff;
    border-color: rgba(255, 255, 255, .5);
    transition: all .2s ease-out;
}

.pages .main-cont > .main-cont-1 > .item-more:hover > a {
    color: #121212;
    border-color: #fff;
    background-color: #fff;

}

/* 메인 텍스트 끝 */

/* 하단콘텐츠 */
.cushion {
    background-color: #0e0e0c;
    position: relative;
}

.cushion-1 {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
    box-sizing: border-box;

}

.cushion > .cushion-1 {
    padding: 0;
}

.cushion-1::before {
    content: "";
    display: block;
}

.cushion > .cushion-1 > .cushion-img > img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.cushion .cushion-content {
    padding: 30px 0;
    text-align: left;
    width: 50%;
    padding-left: 12%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
}

.cushion .cushion-content > .cushion-cont {
    display: inline-block;
    min-width: 100%;
    vertical-align: middle;
    white-space: normal;
    margin: 100px 0 0 20px;
}

.cushion .cushion-content > .cushion-cont > h2 {
    font-size: 36px;
    font-family: 'Arita-buri-SemiBold';
    letter-spacing: -.05em;
    line-height: 1.3;
}

.cushion .cushion-content > .cushion-cont > p {
    font-family: 'Arita-buri-SemiBold';
    font-size: 20px;
    letter-spacing: -.05em;
    line-height: 1.3;
}

.cushion .cushion-content > .cushion-cont > .cushion-more {
    margin-top: 40px;
}

.cushion .cushion-content > .cushion-cont > .cushion-more > a {
    padding: 14px 40px;
    margin: 5px 0;
    padding: 14px 28px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: -.03em;
    color: #444;
    border: 1px solid #626262;
    border-color: rgba(98, 98, 98, .5);
    border-radius: 50px;
    background-clip: padding-box;
}

.cushion .cushion-content > .cushion-cont > .cushion-more > a > span {
    color: #fff;
    font-family: 'Arita-dotum-Medium';
}

.cushion .cushion-content > .cushion-cont > .cushion-more > a:hover,
.cushion .cushion-content > .cushion-cont > .cushion-more > a:hover > span {
    color: #121212;
    background-color: #fff;
}

/* 퀴즈 이벤트 */
.contents {
    position: relative;
    background: #fff;
    z-index: 10;
}

.contents > .event {
    position: relative;
}

.contents > .event > .event-img > img {}

.contents > .event .event-1 {
    padding-left: 9%;
    padding-right: 9%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    background: #f1f1f1;
    padding-left: 55px;
    padding-right: 55px;
    margin-left: 50%;
    box-sizing: border-box;

}

.contents > .event .event-1 > .event-cont {
    padding: 20px 0 0 40px;
    top: 40px;
    position: relative;

}

.contents > .event .event-1 > .event-cont > h2 {
    display: inline-block;
    font-size: 18px;
    color: #707070;
    padding-bottom: 3px;
    margin-bottom: 30px;
    border-bottom: 1px solid #707070;
    font-family: 'Arita-dotum-Medium';
}

.contents > .event .event-1 > .event-cont .event-sub {
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'Arita-buri-SemiBold';
    letter-spacing: -.05em;
    line-height: 1.3;
    color: #121212;
}

.contents > .event .event-1 > .event-cont p:first-child {
    margin-top: 0;
}

.contents > .event .event-1 > .event-cont .event-date {
    margin-top: 40px;
    font-family: 'Arita-dotum-Medium';
}

.contents > .event .event-1 > .event-cont .event-date > span {
    display: inline-block;
    padding-right: 18px;
    color: #444;
}

.contents > .event .event-1 > .event-cont .event-more {
    display: block;
    margin-top: 50px;
    font-family: 'Arita-dotum-Medium';
}

.contents > .event .event-1 > .event-cont .event-more > a {
    padding: 14px 40px;
    margin: 5px 0;
    padding: 14px 28px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: -.03em;
    color: #444;
    border: 1px solid #626262;
    border-color: rgba(98, 98, 98, .5);
    border-radius: 50px;
    background-clip: padding-box;
    transition: all .2s ease-out;
}

.contents > .event .event-1 > .event-cont .event-more:hover > a {
    color: #fff;
    border-color: #123054;
    background: #123054;
}

/* 뷰티라이브 */
.beauty {
    background: #fff;
}

.beauty-live {
    position: relative;
    top: 0;
}

.beauty-live .beauty-live-1 {
    padding-left: 12%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
}

.beauty-live .beauty-live-1 > .beauty-live-cont {
    top: 90px;
    position: relative;
}

.beauty-live .beauty-live-1 > .beauty-live-cont > h2 {
    display: inline-block;
    font-size: 18px;
    color: #707070;
    padding-bottom: 3px;
    margin-bottom: 30px;
    border-bottom: 1px solid #707070;
    font-family: 'Arita-dotum-Medium';
}

.beauty-live .beauty-live-1 > .beauty-live-cont .beauty-sub {
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'Arita-buri-SemiBold';
    letter-spacing: -.05em;
    line-height: 1.3;
    color: #121212;
}

.beauty-live .beauty-live-1 > .beauty-live-cont p:first-child {
    margin-top: 0;
}

.beauty-live .beauty-live-1 > .beauty-live-cont .beauty-text {
    margin-top: 40px;
    font-family: 'Arita-dotum-Medium';
}

.beauty-live .beauty-live-1 > .beauty-live-cont .beauty-more {
    display: block;
    margin-top: 50px;
    font-family: 'Arita-dotum-Medium';
}

.beauty-live .beauty-live-1 > .beauty-live-cont .beauty-more > a {
    padding: 14px 40px;
    margin: 5px 0;
    padding: 14px 28px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: -.03em;
    color: #444;
    border: 1px solid #626262;
    border-color: rgba(98, 98, 98, .5);
    border-radius: 50px;
    background-clip: padding-box;
    transition: all .2s ease-out;
}

.beauty-live .beauty-live-1 > .beauty-live-cont .beauty-more:hover > a {
    color: #fff;
    border-color: #123054;
    background: #123054;
}

/* 하단콘텐츠 끝 */

/* 푸터 */
.footer {
    padding: 27px 0 28px;
    position: relative;
    z-index: 60;
    padding: 22px 0 23px;
    text-align: center;
    font-size: 12px;
    color: #707070;
    border-top: 1px solid #eee;
    background: #fff;
    line-height: 1;
}

.footer > .copyright {
    margin: 0;
}

/* 푸터 끝 */

/* 아울캐러셀 */
.page-4 .main {
    background-color: #fff;
}

.page-4 .main-page-2 {
    width: 970px;
    margin: 0 auto;
}

.page-4 .main-page-2 .bst-pj {
    text-align: center;
    margin: 70px;

}

.page-4 .main-page-2 .bst-pj > h1 {
    font-size: 3.5em;
    margin: 0;
}

.main-page-2 {
    width: 970px;
    margin: 0 auto;
}

.main-page-2 .bst-pj {
    text-align: center;
    margin: 70px;

}

.main-page-2 .bst-pj > h1 {
    font-size: 3.5em;
    margin: 0;
}

.main-page-2 .bst-pj > p {
    font-size: 1.1em;
    margin: 0;
}

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item {
    height: 400px;
}

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item:hover > .product-img::after {
    background-color: #123054;
    opacity: 0.3;
}

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item > .product-img::after {
    z-index: 1;
    display: block;
    content: '';
    z-index: 15;
    background-color: #123054;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity .5s cubic-bezier(0, .5, .5, 1);
}

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item > .product-img {
    position: relative;
    background-image: url("./img/index/bn_2_6.jpg");
    background-repeat: repeat-x;
    background-size: 100% 100%;
}

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 22px;
    color: #121212;
}

.main-page-2 > .owl-carousel > .owl-nav > .owl-prev,
.main-page-2 > .owl-carousel > .owl-nav > .owl-next {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    margin: 0;
}

.main-page-2 > .owl-carousel > .owl-nav > .owl-next {
    left: auto;
    right: -50px;
}

.main-page-2 > .owl-carousel > .owl-dots {
    display: block;
}

/*제품 정보*/

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item {
    text-align: left;
}

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item > .product-img {
    padding-top: 50px;
    display: block;
    width: 230px;
    margin: 0 auto;
}


.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item > .product-img {
    width: 300px;
    padding-top: 30px;
}

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item > .made-in-rootree > a {
    color: #333333;
    font-size: 0.8em;
}

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item > .product-name {
    margin-top: 15px;
    margin-left: 9px;
    width: 248px;
}

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item > .product-name > a {
    color: #333333;
}

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item > .price {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
    color: #707070;
    margin-left: 9px;
}

.main-page-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item > .price > a {
    color: #626262;
    font-family: 'Arita-dotum-Medium';
}

.main-page-2 > .owl-carousel > .owl-nav > [class*="owl-"],
.main-page-2 > .owl-carousel > .owl-nav > [class*="owl-"]:hover {
    border-radius: 0;
    background-color: transparent;
    color: black;
    font-size: 2rem;
}


.main-page-2 > .owl-carousel > .owl-dots {
    margin: 0;
    padding: 0;
}

.main-page-2 > .owl-carousel > .owl-dots > .owl-dot > span,
.main-page-2 > .owl-carousel > .owl-dots > .owl-dot:hover > span,
.main-page-2 > .owl-carousel > .owl-dots > .owl-dot.active > span {
    border: 2px solid black;
    width: 5px;
    height: 5px;
    background-color: #dfdfdf;
}

.main-page-2 > .owl-carousel > .owl-dots > .owl-dot:hover > span,
.main-page-2 > .owl-carousel > .owl-dots > .owl-dot.active > span {
    background-color: transparent;
}

.main-page-2 > .owl-carousel > .owl-dots > .owl-dot.active > span {
    transform: scale(1.7);
    border-width: 1px;
}